@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Righteous&display=swap');
* {
   margin: 0;
   padding: 0;
   background-color: #F4ECE1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 25px;
}
.logo{
    display: flex;
    align-items: flex-start;
    flex-grow: 0.4;
}
.logo h1 {
    font: normal 600 28px 'Poppins';
    padding-left: 5px;
}
.menu{
    display: flex;
    gap: 40px;
    list-style: none;
}
.menu a{
    color: black;
    text-decoration: none;
    font: normal 500 15px 'Poppins';
}
.menu a:hover{
    color: #FF7E00;
}
.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 250px;
    height: 39px;
}
.searchBar button {
    border: none;
    background: none;
}
.searchBar button img {
    width: 14px;
    padding-right: 10px;
}
.searchBar input {
    border: none;
    width: 80%;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.ShoppingCart{
    border-left: 1px solid gray;
    padding-left: 10px;
    display: flex;
    height: 50%;
}
.ShoppingCart img {
    width: 14px;
}
.ShoppingCart p {
    font: normal 400 7px 'Poppins';
    color: white;
    height: 10px;
    width: 10px;
    text-align: center;
    border-radius: 50%;
    background: #EC2633;
    box-shadow: 0px 2px 23px 1px rgba(255, 51, 52, 0.70);
}
main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
.foodphoto img {
    width: 590px;
}
.title {
    display: flex;
    height: 40%;
}
.title h1 {
    font: normal 700 125px 'Poppins';
    line-height: 80%;
    letter-spacing: -0.035em;
    color: #FF7E00;
    align-self: flex-end;
}
.title h2 {
    display: flex;
    flex-direction: column-reverse;
    font: normal 700 52px 'Poppins';
    line-height: 95.8%;
    background-image: url("./img/share.png");
    background-size: 155px;
    background-repeat: no-repeat;
    height: 100%;
    background-position-x: right;
    background-position-y: center;
    width: 275px;
}
.paragraph {
    padding-top: 25px;
    font:normal 400 20px 'Poppins';
    width: 75%;
    line-height: 120%;
    color: #909090;
    padding-bottom: 40px;
}

.buttons{
    display: flex;
} 
.orderNow {
    display: flex;
    padding-right: 40px;
}

.orderNow button {
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.3);
    border-radius: 84px;
    font: normal 600 20px 'Poppins';
    line-height: 94.8%;
    border: none;
    color: #F4ECE1;
    padding: 15px 30px;
}
.WatchVideo {
    display: flex;
    gap: 20px;  
    width: 200px;
    align-items: center;
}
.WatchVideo img {
    border-radius: 50%;
    width: 12px;
    padding: 15px;
    background: #FFF8F0;
    box-shadow: 0px 20px 36px -16px rgba(0, 0, 0, 0.1);
}
.WatchVideo a{
    text-decoration: none;
    color: black;
}
.WatchVideo {
    font: normal 600 20px 'Poppins';
    line-height: 94.8%;
}
.stars{
    padding-top: 40px;
}
.rate h3{
    padding: 10px 0px;
    font: normal 600 18px 'Poppins';
    line-height: 139.8%;
}
.rate p{
    font: normal 300 18px 'Poppins';
    line-height: 139.8%;
    color: #909090;
}
